[submodule "packages/Viper-Platform/core"]
	path = packages/Viper-Platform/core
	url = https://github.com/mrucelum/core.git
[submodule "packages/Workroom/workroom"]
	path = packages/Workroom/workroom
	url = https://github.com/mrucelum/workroom.git
